#Build System and Toolchain Ignores

#Ignore Build Dirs
processor_models/verilator/build/*
build_programs/build/*
#Ignore built GCCs
toolchain/GCC/multilib/*
toolchain/GCC/rv32im_zve32x/*
toolchain/llvm/llvm_22_1_8/*
toolchain/spike/*
toolchain/etiss_base/etiss_rvv/*
toolchain/iree_compiler/*

#Simulator Specific Ignores

#Benchmark Specific Ignores
#MLPerfTiny
benchmark_sources/MLPerfTiny/tflm/tflm_source_tree/
benchmark_sources/MLPerfTiny/tflm/tflm_source_tree_cmsis/

opencode.json
.vscode/
