[submodule "rtl/vicuna2_core"]
	path = rtl/vicuna2_core
	url = https://github.com/vproc/vicuna2_core.git
[submodule "rtl/cv32e40x"]
	path = rtl/cv32e40x
	url = https://github.com/ParkerJones567/cv32e40x_f_zhf.git
	branch = f_zhf_fixes
[submodule "rtl/cv32a60x"]
	path = rtl/cv32a60x
	url = https://github.com/ParkerJones567/cva6.git
	branch = cv32a60x
[submodule "rtl/fpu_ss"]
	path = rtl/fpu_ss
	url = https://github.com/ParkerJones567/fpu_ss.git
[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
	active = false
	update = none
[submodule "processor_models/gem5/gem5"]
	path = processor_models/gem5/gem5
	url = https://github.com/gem5/gem5.git
[submodule "toolchain/verilator"]
	path = toolchain/verilator
	url = https://github.com/verilator/verilator.git
	ignore = dirty
[submodule "benchmark_sources/MLPerfTiny/tflm/tflite-micro"]
	path = benchmark_sources/MLPerfTiny/tflm/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "benchmark_sources/framework/vicuna2_bsp"]
	path = benchmark_sources/framework/vicuna2_bsp
	url = https://github.com/vproc/vicuna2_bsp.git
[submodule "benchmark_sources/MLPerfTiny/tflm/muriscv-nn"]
	path = benchmark_sources/MLPerfTiny/tflm/muriscv-nn
	url = https://github.com/tum-ei-eda/muriscv-nn.git
[submodule "toolchain/riscv-isa-sim"]
	path = toolchain/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "benchmark_sources/embench_dsp/embench-dsp"]
	path = benchmark_sources/embench_dsp/embench-dsp
	url = https://github.com/embench/embench-dsp.git
[submodule "toolchain/llvm-project"]
	path = toolchain/llvm-project
	url = https://github.com/llvm/llvm-project.git
	active = false
	update = none
[submodule "toolchain/etiss_base/etiss"]
	path = toolchain/etiss_base/etiss
	url = https://github.com/danielschloms/etiss.git
[submodule "toolchain/etiss_base/M2-ISA-R"]
	path = toolchain/etiss_base/M2-ISA-R
	url = https://github.com/tum-ei-eda/M2-ISA-R.git
[submodule "toolchain/etiss_base/etiss_arch_riscv"]
	path = toolchain/etiss_base/etiss_arch_riscv
	url = https://github.com/danielschloms/etiss_arch_riscv.git
[submodule "toolchain/etiss_base/etiss_rvv"]
	path = toolchain/etiss_base/etiss_rvv
	url = https://github.com/danielschloms/etiss.git
[submodule "benchmark_sources/embench_iot/embench-iot"]
	path = benchmark_sources/embench_iot/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "toolchain/etiss_base/etiss_perfsim"]
	path = toolchain/etiss_base/etiss_perfsim
	url = git@github.com:danielschloms/perfsim_workspace.git
[submodule "scripts/etiss_perfsim_testing"]
	path = scripts/etiss_perfsim_testing
	url = git@github.com:danielschloms/rvv_testing.git
[submodule "benchmark_sources/audiomark/audiomark"]
	path = benchmark_sources/audiomark/audiomark
	url = https://github.com/eembc/audiomark.git
[submodule "benchmark_sources/generic_iree/iree/iree-source"]
	path = benchmark_sources/generic_iree/iree/iree-source
	url = https://github.com/iree-org/iree.git
